@import url('https://fonts.googleapis.com/css?family=Baloo|Chonburi');

body {
    background-color: black;
}


.image {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    opacity: 0.8;
    box-shadow: 10px 10px 10px #888888;
    transition: all .2s ease-in-out;
    
}

.image:hover {
    opacity: 1.0;
    transform: scale(1.1,1.1);
}
.text {
    color: ghostwhite;
    text-shadow: 2px 2px 8px #161615;
    text-align: center;
    margin-top: 68px;
    font-family: 'Chonburi', cursive;
    
}

#AlaskaPic {
    background-image: url('Alaska.jpg');
}
#AlaskaPic.alaskaNight {
    background-image: url('alaskaNight.jpg');
}

#LondonPic {
    background-image: url('london.jpg');
}
#LondonPic.londonNight {
    background-image: url('londonNight.jpg');
}

#TaipeiPic {
    background-image: url('taipeiDay.jpg');
}
#TaipeiPic.taipeiNight {
    background-image: url('taipei101.jpg');
}
#NewYorkPic {
    background-image: url('newyork.jpg');
}
#NewYorkPic.newyorkNight {
    background-image: url('newyorkNight.jpg');
}
#BerlinPic {
    background-image: url('berlin.jpg');
}

#BerlinPic.berlinNight {
    background-image: url('berlinNight.jpg');
}

#TokyoPic {
    background-image: url('tokyo.jpg');
}
#TokyoPic.tokyoNight {
    background-image: url('tokyoNight.jpg');
}
#LAPic {
    background-image: url('LA.jpg');
}
#LAPic.LANight {
    background-image: url('LANight.jpg');
}
#VilniusPic {
    background-image: url('vilnius.jpg');
}
#VilniusPic.vilniusNight {
    background-image: url('vilniusNight.jpg');
}
#SydneyPic {
    background-image: url('sydney.jpg');
}
#SydneyPic.sydneyNight {
    background-image: url('sydneyNight.jpg');
}


h6 {
    color: slategray;
    font-style: italic;
    text-align: right;
    font-family: 'Chonburi', cursive;
}