@import url('https://fonts.googleapis.com/css?family=Baloo|Chonburi');

body {
    background-color: black;
}


.image {
    position: relative;
    margin-bottom: 20px;
    opacity: 0.8;
    box-shadow: 10px 10px 10px #888888;
    transition: all .2s ease-in-out;
    
}

.image:hover {
    opacity: 1.0;
    transform: scale(1.1,1.1);
}
.text {
    color: ghostwhite;
    text-shadow: 2px 2px 8px #161615;
    position: absolute;
    text-align: center;
    top: 68.5px;
    left: 78px;
    z-index: 100;
    font-family: 'Chonburi', cursive;
    
}

h6 {
    color: slategray;
    font-style: italic;
    text-align: right;
    font-family: 'Chonburi', cursive;
}