@import url('https://fonts.googleapis.com/css?family=Baloo|Chonburi');

body {
    background-color: black;

}

.header {
    background-color: pink;
}

.image {
    position: relative;
    padding-bottom: 20px;
    opacity: 0.8;
    box-shadow: 10px 5px 10px #888888;
    
}

.image:hover {
    opacity: 1.0;
}
.text {
    color: ghostwhite;
    text-shadow: 2px 2px 8px #161615;
    position: absolute;
    text-align: center;
    top: 68.5px;
    left: 42px;
    z-index: 100;
    font-family: 'Chonburi', cursive;
    
}
