@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Istok+Web|Monoton');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Chewy|Istok+Web|Love+Ya+Like+A+Sister|Luckiest+Guy|Monoton');
body {
    background-color: #eaedf2;
}

.header {
    width: 720px;
    text-align: right;
    margin: 10px auto;

}

a {
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
}

fieldset {
    width: 720px;
    background-color: floralwhite;
    color: #726860;
    margin: 10px auto;
    border: #e26195 15px inset;
    border-radius: 5px;
    font-family: 'Istok Web', sans-serif;
}
legend {
    font-size: 200%;
    font-weight: bold;
    font-family: 'Monoton', cursive;
}

.field-group {
    margin-bottom: 20px;
    clear: both;
}

.field {
    margin-bottom: 15px;
   
}

.grid-style .field {
    float: left;
    width: 420px;
    margin-bottom: 10px;
}

.grid-style .field-group > label {
    float: left;
    width: 300px;
}

.grid-style .hide-if-grid-style {
    display: none;
}

.line-style .hide-if-line-style {
    display: none;
}

.submitbutton {
    margin-top: 70px;
}

img {
    height: 100px;
    width: 100px;
}

.genderbutton input[type=radio]{
    display: none;
}

.genderbutton input:checked + label {
    border: 3px #dd375e solid;
    border-radius: 5px;
    display: inline-block;

}

.genderbutton label:hover {
    cursor: pointer;
}
p {
    font-size: 150%;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
    font-weight: bold;
    font-family: 'Luckiest Guy', cursive;
    color: #99788a;
}
  
.submitbutton > input{
    border-radius: 5px;
    width:100px;
    height: 40px;
    font-size:100%;
    color: darkred;
    background-color: #f7deea;
    font-weight: bold;
}

.inside-field {
    margin-top: 20px;
}

.heading {
    font-size: 120%;
    font-weight: bold;
}

