body {
    background-color: #F5EDEF;
    overflow: hidden;
}

.wrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  background: #FFFFFF;
  border-radius: 500px;
  border: 5px solid #2B3245;
  box-shadow: 5px 5px #3A4052;
  opacity: 0.9;
  border-radius: 500px;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}

.spinning-wheel {
    border: 0px solid red;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    transition: 5s;
}



 
.pie {
  width: 0;
  height: 0;
  border-radius: 500px 500px 0px 500px;
  border-left: 104px solid transparent;
  border-right: 104px solid transparent;
  border-top: 250px solid;
  transform: rotate(0deg);
  transform-origin: 50% bottom;
  left:148px;
  top:0;
  position:absolute;
  overflow: visible;
}

.pie .label {
  width: 200px;
  position: relative;
  top: -150px;
  left: -100px;
  text-align: center;
  display: block;
  transform: rotate(90deg);
  font-family: Arial ;
  font-weight: bold;
 }

.pie1 {
    border-top-color:#884EE6;
}
.pie2 {
    transform:rotate(45deg);
    border-top-color: #D10639;

}

.pie3 {
    transform:rotate(90deg);
    border-top-color: #F255B9;
}

.pie4 {
    transform:rotate(135deg);
    border-top-color: #9F45CC;   
}

.pie5 {
    transform:rotate(180deg);
    border-top-color: #1BB1E3;
}

.pie6 {
    transform:rotate(225deg);
    border-top-color: #3CC435;    
}

.pie7 {
    transform:rotate(270deg);
    border-top-color: #DEE64E;
}

.pie8 {
    transform:rotate(315deg);
    border-top-color: #EDA72D;
}

.highlight{
    color: #EB090D;
    font-weight: bold;
    font-size: 140%;
    -webkit-text-stroke: 0.2px black;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    font-family: fantasy;
    z-index: 200;
}

.Arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    display: none;

}
.ArrowSquare {
    height: 20px;
    width: 60px;
    border-radius: 5px 0px 0px 5px;
    background-color: #FA253E;
    position: absolute;
    animation-name: colorchange;
    animation-duration: 5s;
    outline-style: solid 1px black; 
}
.ArrowTriangle {
    height: 0;
    width: 0;
    margin-left: 50px;
    border-left: 20px  solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid;
    color: #FA253E;
    transform: rotate(-90deg);
    animation: borderColor 5s forwards; 
    
   
}

@keyframes borderColor {
      0% {border-top-color: #8439E6;}
    25% {border-top-color: #F230CF;}
    50% {border-top-color: #FAFA32;}
    95% {border-top-color: #F77F3E;}
    99.8% {border-top-color: #EBF5F4;}
    100% {border-top-color: #FA253E;}
    
}

@keyframes colorchange {
    0% {background-color: #8439E6;}
    25% {background-color: #F230CF;}
    50% {background-color: #FAFA32;}
    95% {background-color: #F77F3E;}
    100% {background-color: #EBF5F4;}
}

.button-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.button {
    border-radius: 5px;
    padding: 15px;
    background-color:#F792C5 ;
    box-shadow: 8px 8px gray;
    font-family: fantasy;
    font-size: 200%;
    color: #E32957;
}

.button:hover {background-color: #F27C99}

.button:active {
    background-color:#F27C99;
    box-shadow: 8px 8px gray;
    transform: translateX(4px) translateY(4px);
}



.wrapper:after {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -2.8em;
    width: 6em;
    height: 6em;
    opacity: 0.5;
    background: silver;
    content: '';
 }
 