@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Lakki+Reddy');

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Lakki Reddy', cursive;
    
}

h1 {
    color: #8c7b4d;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    animation:
      typing 3.5s steps(40, end);
    text-align: center;
    font-family: 'Lakki Reddy', cursive;
}

@keyframes typing {
    from { width: 0}
    to {width: 100%}
}

.player {
    color:saddlebrown;
    text-align: center;
    width: 50%;
    font-size: 200%;
    display: inline;
}
#you {
    float: left;
}

#pc {
    float: right;
}


.userside {
    width: 40%;
    height: 40%;
    object-fit: contain;
    margin-left: 60px;
    display: none;
}


.computerside {
    width: 40%;
    height: 40%;
    object-fit: contain;
    margin-left: 100px;
    display: none;
}

.start {
    position: absolute;
    top: 40%;
    left: 43%;
    padding: 17px 17px 0px 17px;
    font-size: 250%;
    font-style: bold;
    font-family: 'Lakki Reddy', cursive;
    background-color: #d99009;
    color: white;
    border: 3px solid #875903;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
    display: none;
    
}

.start:hover{
    background-color: #916209;
}
.start:active {
    background-color: #d99009;
    box-shadow: 8px 8px gray;
    transform: translateX(4px) translateY(4px);

}
.BUTTON {
    display: none;
}
.button {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid gray;
    height: 150px;
    width: 150px;;
    margin-top: -225px;
    margin-left: -75px;
}

.buttonactive:active {
    box-shadow: 7px 7px #65676b;
    transform: translateX(4px) translateY(4px);
}

#rockbutton {
    margin-top: -6px;
    margin-left: -10px;
}

.button2 {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid gray;
    height: 135px;
    width: 140px;
    margin-top: -63px;
    margin-left: -70px;
}

#paperbutton {
    margin-top: -15px;
    margin-left: -20px;
}

.button3 {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid gray;
    height: 135px;
    width: 140px;
    margin-top: 93px;
    margin-left: -70px;
}

#scissorbutton {
    margin-top: -15px;
    margin-left: -20px; 
}

#dialog{
    position: fixed;
    bottom: 10%;
    right: 35%;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 125%;
    width: 400px;
    height: 55px;
    color: white;
    background-color: #916209;
    border: 5px solid saddlebrown;
    border-radius: 5px;
    padding-top: 10px;
    overflow: hidden;
    z-index: 100;
    display: none
}

.cat {
    position: absolute;
    top: 150px;
    left: 1050px;
    width: 20%;
    height: 50%;
    
}

.cat2 {
    position: absolute;
    top: 150px;
    left: 900px;
    width: 20%;
    height: 50%;
    display:none;

}

.cat3 {
    position: absolute;
    top: 150px;
    left: 850px;
    width: 20%;
    height: 50%;
    display:none;

}

.boy {
    position:absolute;
    top: 150px;
    left:2px;
    width: 20%;
    height: 50%;
}

.boy2 {
    position:absolute;
    top: 150px;
    left:100px;
    width: 20%;
    height: 50%;
    display: none;
}

.boy3 {
    position:absolute;
    top: 150px;
    left:150px;
    width: 20%;
    height: 50%;
    display: none;
}

.cinematic {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 70%;
    display: none;
    border: 5px solid saddlebrown;
    border-radius: 5px;
}


.restart {
    position: absolute;
    top: 80%;
    left: 5%;
    padding: 10px 10px 0px 10px;
    vertical-align: middle;
    font-size: 200%;
    font-family: 'Lakki Reddy', cursive;
    background-color: #fc0810;
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    box-shadow: 5px 5px gray;
    display: none;
    
}

.restart:hover{
    background-color: #cc0c13;
}
.restart:active {
    background-color: #fc0810;
    box-shadow: 8px 8px gray;
    transform: translateX(4px) translateY(4px);

}