body {
    background-color: lightgoldenrodyellow;
    
}

h1 {
    color: mediumvioletred;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    animation:
      typing 3.5s steps(40, end);
    text-align: center;
    font-family: Impact;
}

@keyframes typing {
    from { width: 0}
    to {width: 100%}
}
#you {
    text-align: center;
    float: left;
    width: 50%;
    font-size: 200%;
    display: inline;  
}

#pc {
    float: right;
    text-align: center;
    width: 50%;
    font-size: 200%;
    display: inline;
}


.userside {
    width: 40%;
    height: 40%;
    object-fit: contain;
    margin-left: 60px;
    display: none;
}


.computerside {
    width: 40%;
    height: 40%;
    object-fit: contain;
    margin-left: 100px;
    display: none;
}


.button {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid gray;
    height: 150px;
    width: 150px;
    margin-top: -225px;
    margin-left: -75px;
    d isplay: none;
}

.buttonactive:active {
    box-shadow: 7px 7px #65676b;
    transform: translateX(4px) translateY(4px);
}

#rockbutton {
    margin-top: -6px;
    margin-left: -10px;
}

.button2 {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid gray;
    height: 135px;
    width: 140px;
    margin-top: -63px;
    margin-left: -70px;
    d isplay: none;
}

#paperbutton {
    margin-top: -15px;
    margin-left: -20px;
}

.button3 {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid gray;
    height: 135px;
    width: 140px;
    margin-top: 93px;
    margin-left: -70px;
    d isplay: none;
}

#scissorbutton {
    margin-top: -15px;
    margin-left: -20px; 
}

#dialog{
    position: fixed;
    bottom: 10%;
    right: 10%;
    text-align: center;
    width: 400px;
    height: 130px;
    border: 1px solid black;
    padding-top: 70px;
    display: none;
}

#cat {
    width: 25%;
    height: 25%;
}